<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Content/bootstrap-theme.min.css"/>
    <include path="~/Content/@fortawesome/fontawesome-free/css/all.min.css"/>
    <include path="~/Content/ionicons/css/ionicons.min.css"/>
    <include path="~/Content/bracket.css"/>
    <include path="~/Content/bracket.dark.css"/>
    <include path="~/CustomContent/Styles/CustomFonts.css"/>
    <include path="~/CustomContent/Styles/CustomStyles.css"/>
    <include path="~/CustomContent/Styles/Firefly.css"/>
    <include path="~/CustomContent/Styles/Letter.css"/>
 
    <include path="~/Content/spinkit/css/spinkit.css"/>
    <include path="~/Content/bootstrap4-Toggle/bootstrap4-toggle.min.css"/>
    <include path="~/Content/CookieAlert/CookieAlert.css"/>



  </styleBundle>
  <styleBundle path="~/Content/Kendo/css">
    <include path="~/Content/Kendo/kendo.common.min.css"/>
    <include path="~/Content/Kendo/kendo.GoTSkillZ.css"/>
  </styleBundle>
</bundles>