<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DecryptKey" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DecryptIV" value="a2luZ2tvbmc="  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="owin:AutomaticAppStartup" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="vs:EnableBrowserLink" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultRoleId" value="2"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
 <add key="GoogleClientKey" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UserFiles" value="C:\Ratan\UserData\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <connectionStrings>
    <add name="GoTSkillZConnectionString" connectionString="Data Source=; initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;password=;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

</configuration>
