<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="GoTSkillZRoleEntities" connectionString="metadata=res://*/Data.RoleModel.csdl|res://*/Data.RoleModel.ssdl|res://*/Data.RoleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZUserEntities" connectionString="metadata=res://*/Data.UserModel.csdl|res://*/Data.UserModel.ssdl|res://*/Data.UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZUserRoleEntities" connectionString="metadata=res://*/Data.UserRoleModel.csdl|res://*/Data.UserRoleModel.ssdl|res://*/Data.UserRoleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZUserSocialLinksEntities" connectionString="metadata=res://*/Data.UserSocialLinksModel.csdl|res://*/Data.UserSocialLinksModel.ssdl|res://*/Data.UserSocialLinksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZUserOccupationEntities" connectionString="metadata=res://*/Data.UserOccupationModel.csdl|res://*/Data.UserOccupationModel.ssdl|res://*/Data.UserOccupationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZYouTubeChannelStatisticsEntities" connectionString="metadata=res://*/Data.GoTSkillZYouTubeChannelStatisticsModel.csdl|res://*/Data.GoTSkillZYouTubeChannelStatisticsModel.ssdl|res://*/Data.GoTSkillZYouTubeChannelStatisticsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GOTSKILLZ\GOTSKILLZ;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>