<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="GoTSkillZSetupOptionsEntities" connectionString="metadata=res://*/Data.GoTSkillZSetupOptionsModel.csdl|res://*/Data.GoTSkillZSetupOptionsModel.ssdl|res://*/Data.GoTSkillZSetupOptionsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZSetupTypesEntities" connectionString="metadata=res://*/Data.GoTSkillZSetupTypesModel.csdl|res://*/Data.GoTSkillZSetupTypesModel.ssdl|res://*/Data.GoTSkillZSetupTypesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZUserSetupsEntities" connectionString="metadata=res://*/Data.GoTSkillZUserSetupsModel.csdl|res://*/Data.GoTSkillZUserSetupsModel.ssdl|res://*/Data.GoTSkillZUserSetupsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZUserSetupDataEntities" connectionString="metadata=res://*/Data.GoTSkillZUserSetupDataModel.csdl|res://*/Data.GoTSkillZUserSetupDataModel.ssdl|res://*/Data.GoTSkillZUserSetupDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZUserPeripheralsEntities" connectionString="metadata=res://*/Data.GoTSkillZUserPeripheralsModel.csdl|res://*/Data.GoTSkillZUserPeripheralsModel.ssdl|res://*/Data.GoTSkillZUserPeripheralsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>