<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="GoTSkillZYouTubePlaylistsEntities" connectionString="metadata=res://*/Data.YouTubePlaylistsModel.csdl|res://*/Data.YouTubePlaylistsModel.ssdl|res://*/Data.YouTubePlaylistsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GOTSKILLZ\GSSQLEXPRESS;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZYouTubeVideosEntities" connectionString="metadata=res://*/Data.YouTubeVideosModel.csdl|res://*/Data.YouTubeVideosModel.ssdl|res://*/Data.YouTubeVideosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GOTSKILLZ\GSSQLEXPRESS;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZYouTubeSuperChatListEntities" connectionString="metadata=res://*/Data.YouTubeSuperChatListModel.csdl|res://*/Data.YouTubeSuperChatListModel.ssdl|res://*/Data.YouTubeSuperChatListModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.86.176.28;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>