<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="GoTSkillZGiveawayEntities" connectionString="metadata=res://*/Data.GoTSkillZGiveawayModel.csdl|res://*/Data.GoTSkillZGiveawayModel.ssdl|res://*/Data.GoTSkillZGiveawayModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GOTSKILLZ\GOTSKILLZSQL;initial catalog=GoTSkillZ;user id=db_got_skillz;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZGiveawayWinnersEntities" connectionString="metadata=res://*/Data.GoTSkillZGiveawayWinnersModel.csdl|res://*/Data.GoTSkillZGiveawayWinnersModel.ssdl|res://*/Data.GoTSkillZGiveawayWinnersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GOTSKILLZ\GOTSKILLZSQL;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillz;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GiveawayEntryCodeEntities" connectionString="metadata=res://*/Data.GiveawayEntryCodeModel.csdl|res://*/Data.GiveawayEntryCodeModel.ssdl|res://*/Data.GiveawayEntryCodeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GOTSKILLZ\GOTSKILLZSQL;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillz;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>