<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="GoTSkillZPageEntities" connectionString="metadata=res://*/Data.PageModel.csdl|res://*/Data.PageModel.ssdl|res://*/Data.PageModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZSitemapEntities" connectionString="metadata=res://*/Data.SitemapModel.csdl|res://*/Data.SitemapModel.ssdl|res://*/Data.SitemapModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZPageRoleEntities" connectionString="metadata=res://*/Data.PageRoleModel.csdl|res://*/Data.PageRoleModel.ssdl|res://*/Data.PageRoleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GoTSkillZLoadingMessagesEntities" connectionString="metadata=res://*/Data.LoadingMessagesModel.csdl|res://*/Data.LoadingMessagesModel.ssdl|res://*/Data.LoadingMessagesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X-GAMER;initial catalog=GoTSkillZ;persist security info=True;user id=db_got_skillZ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>